.cefs-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 15px;
  padding: 15px;
}
.cardimg{
    width: 300px;
    height: 300px;
}
@media only screen and (max-width: 570px) {
    .cefs-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 15px;
      }
}
