.cefs-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
  padding: 15px;
}
.cardimg {
  width: 375px;
  height: 330px;
}

.banner-chef {
  width: 500px;
}
img.profile-dp {
  width: 40px;
  height: 40px;
}
.bgg {
  background-image: url(https://img.freepik.com/premium-photo/kitchen-cooking-background_107389-2336.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
}

@media only screen and (max-width: 570px) {
  .cefs-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 15px;
  }
}
